.header-input-input {
    width: 559px;
    height: 60px;
    margin-top: 34px;
    border-radius: 8px;
    background: #F8F8F8;
    border: none;   
}

.header-input-input::placeholder {
    padding-left: 24px;
    font-weight: 40;
    font-family: inter;
    letter-spacing: 0.75px;
    color: #666666;
    opacity: 0.6;
}
