.caixa {
    margin: 0 71px;
    

}

.caixa3{
    display: flex;
    justify-content: space-between;
}
.filtrarpor{
    width: 308px;
}
.collapse{
    width:400px;
}
.caixa2{
    display: flex;
    justify-content: space-between;
}