
.caixa-produtos {
    margin: 0 71px;
    padding-top: 50px;
    margin-top: 35px ;
}

.caixa3 {
    display: flex;
    justify-content: space-between;
}

.parag-produto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #474747;
}

.parag-produto-numero-cinza {
    opacity: 0.5;
}
.filtrarpor{
    width: 308px;
}

.collapse {
    width:400px;
}

.caixa2 {
    display: flex;
    justify-content: space-between;
}