/* *,
::before,
::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
} */


.oferta-especial {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0;
  padding: 0;
  height: 553px;
  background-color: #ffffff;
}

* {
  /* border: 1px solid black; */
}

.esquerda {
  /* background-color: red; */
  flex: 1;
  display: flex;
  /* position: relative; */
  margin-right: 50px;
  margin-top: 190px;
  /* align-items: center; */
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;


}

.direita {
  /* background-color: blue; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texto1 {
  color: #c92071;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: left;
}

.texto2 {
  color: #474747;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.9999998807907104px;
  text-align: left;
}

.texto3 {
  color: #474747;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: left;
}

.botao-ver-oferta {
  /* align-self: center; */
  height: 40px;
  width: 200px;
  left: 0px;
  top: 0px;
  border: 0;
  border-radius: 8px;
  background-color: #c92071;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
  color: #f5f5f5;
  cursor: pointer;
}

.tenis {
  /* position: absolute; */
  width: 573px;
  height: 330px;
  /* right: 70px;
  top: -150px; */
  z-index: 1;
  margin-top: 30px;
}

.elipse {
  position: absolute;
  top: -190px;
  left: 20px;
  width: 466px;
  height: 466px;
  z-index: 0;
}

.wrapper-texto1 {
  margin-bottom: 15px;
}

.wrapper-texto2 {
  margin-bottom: 15px;
}

.wrapper-texto3 {
  margin-bottom: 30px;
}
