.carousel-principal {
    height: 681px;    
    padding-bottom: 100px;
    margin-bottom: 1px;
    margin-top: 35px;
}

.retangulo {
    position: absolute;
    width: 1440px ;
    height: 681px;
    margin-top: 2px; 
    padding-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 50px;   
    background: #F5F5F5;

}

.bolinha2 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 1080px;
    top: 100px;
    right: 37px;
    bottom: 0px;   
    z-index: 0;
}  
  
.tenis1 {
    display: flex;
    padding-left: 360px;
}
  
.esquerda {
    flex-direction: column;
    justify-content: center;
    bottom: 100px;
    left: 150px;
}
  
.frase1 {
    color: #F6AA1C;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: left;
}
  
.frase2 {
    color: #1F1F1F;
    width: 510px;
    height: 132px;
    left: 100px;
    top: 2px;
    font-style: normal;
    font-weight: 1000;
    font-size: 64px;
    line-height: 66px;
    font-style: normal;
    font-family: Inter;
    letter-spacing: 1px;
    text-align: left;
}
  
.frase3 {
    color: #474747;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
    padding: 0px;
    margin:1px;    
}
  
.botao-ofertas {
    height: 48px;
    width: 220px;
    left: 50px;
    right: 1120px;
    top: 0px;
    border: 0;
    border-radius: 8px;
    background-color: #c92071;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
    top: 30px;
}

.wrapper-frase1 {
    padding-bottom: 30px;
    right: 800px;
}
  
.wrapper-frase2 {    
    padding-bottom: 10px;
    right: 800px;
}
  
.wrapper-frase3 {
 
    padding-bottom: 10px;
    padding-top: 24px;
    right: 800px;
    
}

.wrapper-button1 {
    position: absolute;
    padding-top: 400px;
    right: 800px;
} 

.carousel-indicators .active {
    background-color: #c92071;
    border-radius: 50px;
    width: 10px;    
}

.carousel-indicators [aria-current=false] {
    background-color: #ccc !important;
}

.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-clip: initial;
    border-top: initial;
    border-bottom: initial;    
}
