.listas {
    display: flex;
    justify-content: space-between;   
}

.listas2 {
    display: flex;
    justify-content: space-between;    
}

.riscados {
    width: 69px;
    color: #8F8F8F;
}

.itens {
    margin: 10px;
    width: 300px;
    height: 480px;
    position: relative;
}

.itens-img {
    width: 292px;
    height: 321px;
    left: 436px;
    top: 332px;
}

.itens-desconto {
    font-family: 'Inter';
    position: absolute;
    top: 35px;
    left: 10px;
    width: 96px;
    height: 32px;
    text-align: center;
    background-color: #E7FF86;
    padding: 10px 15px;
    border-radius: 29px;
    font-size: small;
}

.itens-titulo {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #8F8F8F;
    margin-top: -30px;
}

.itens-para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #474747;    
}

.itens-para2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #1F1F1F;
}