.div-footer-img{
    display: flex;
    /* flex-direction: column; */
}


.footer-principal{
    background-color: #1f1f1f;
    color: white;
    display: flex;
    height: 454px;
    justify-content: space-around;
    /* padding-top: 106px; */
    margin-top: 106px;
    margin-left: 71px;
    margin-right: 71px;
}

.div-digitalstore{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    flex-direction: column;
    /* margin-left: 100px; */
}

.nome-digital{
    padding-left: 8px;
    right: 0%;
    bottom: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36.3951px;
    line-height: 44px;    
    letter-spacing: -0.01em;
    margin-top: 50px;
    padding-top: 22px;

}

.texto-footer{
    width: 307px;
    height: 78px;
    left: 100px;
    top: 151px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}


.icons-footer{
    display: flex;
    justify-content: space-between;
    width: 100px;
    /* margin-left: 50px; */
    /* margin-right: 36px; */
}

.div-imgfooter{
    width: 33px;
    height: 33px;
    margin-top: 77px;
    left: 8px;
}

.informacao-titulo{
    
    width: 99px;
    height: 22px;
    margin-left: 102px;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-top: 72px;

}

.informacao2{
   
    width: 200px;
    height: 228px;
    margin-left: 102px;
    top: 122px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 28px;
    padding-left: 102px;
    text-align: left;

    
}

.categoria-titulo{
    width: 96px;
    height: 22px;
    left: 849px;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-top: 72px;
}

.categoria-footer{
    width: 96px;
    height: 190px;
    /* left: 849px; */
    top: 122px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* padding-top: 28px; */
    padding-left: 102px;
    text-align: left;


}

.contato-titulo{
    width: 99px;
    height: 22px;
    left: 612px;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-top: 72px;
    
}

.contato-footer{
    width: 135px;
    left: 612px;
    top: 122px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 28px;
}













/* .texto-footer{
    margin-top: 35px;
    width: 25%;
    justify-content: flex-start;
}

.icons-footer ul li{
    color: white;
    display: inline-block;
    width: 25%;
}

.informacao-footer{
    width: 25%;
    justify-content: center;
}

.contato-footer{
    width: 25%;
    justify-content: flex-start;
}

.final-footer{
    width: 100%;
    align-items: center;
}   */